In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
df_weather = pd.read_csv('weather_data/Weather.csv')

In [3]:
df_weather.head()

,pickup_datetime,tempm,tempi,dewptm,dewpti,hum,wspdm,wspdi,wgustm,wgusti,...,precipm,precipi,conds,icon,fog,rain,snow,hail,thunder,tornado
0,2015-12-31 00:15:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.5,0.02,Light Rain,rain,0,1,0,0,0,0
1,2015-12-31 00:42:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
2,2015-12-31 00:51:00,7.8,46.0,6.1,43.0,89.0,5.6,3.5,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
3,2015-12-31 01:51:00,7.2,45.0,5.6,42.1,90.0,7.4,4.6,NaN,NaN,...,0.3,0.01,Overcast,cloudy,0,0,0,0,0,0
4,2015-12-31 02:51:00,7.2,45.0,5.6,42.1,90.0,0.0,0.0,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0

In [4]:
df_weather.columns

Index(['pickup_datetime', 'tempm', 'tempi', 'dewptm', 'dewpti', 'hum', 'wspdm',
       'wspdi', 'wgustm', 'wgusti', 'wdird', 'wdire', 'vism', 'visi',
       'pressurem', 'pressurei', 'windchillm', 'windchilli', 'heatindexm',
       'heatindexi', 'precipm', 'precipi', 'conds', 'icon', 'fog', 'rain',
       'snow', 'hail', 'thunder', 'tornado'],
      dtype='object')

In [5]:
df_weather = df_weather.drop(columns=['tempi', 'dewptm', 'dewpti', 'hum','wspdm', 'wspdi', 'wgustm', 'wgusti', 'wdird', 'wdire', 
                         'visi', 'pressurem', 'pressurei', 'windchillm', 'windchilli', 'heatindexm', 'heatindexi',
                        'precipi', 'hail', 'thunder', 'tornado'])

In [6]:
df_weather.fog.value_counts()

0    10410
1       71
Name: fog, dtype: int64

In [7]:
df_weather.rain.value_counts()

0    9500
1     981
Name: rain, dtype: int64

In [8]:
df_weather.snow.value_counts()

0    10253
1      228
Name: snow, dtype: int64

In [9]:
df_weather['p'] = 0

In [10]:
#create column p using the fog and snow columns.
for i,k in df_weather.iterrows():
    if df_weather.loc[i,'rain'] == 1:
        df_weather.loc[i,'p'] = 'rain'
    elif df_weather.loc[i,'snow'] == 1:
        df_weather.loc[i,'p'] = 'snow'
    else:
        df_weather.loc[i,'p'] = ''

In [11]:
df_weather.head()

,pickup_datetime,tempm,vism,precipm,conds,icon,fog,rain,snow,p
0,2015-12-31 00:15:00,7.8,4.0,0.5,Light Rain,rain,0,1,0,rain
1,2015-12-31 00:42:00,7.8,6.4,0.8,Overcast,cloudy,0,0,0,
2,2015-12-31 00:51:00,7.8,8.0,0.8,Overcast,cloudy,0,0,0,
3,2015-12-31 01:51:00,7.2,12.9,0.3,Overcast,cloudy,0,0,0,
4,2015-12-31 02:51:00,7.2,12.9,NaN,Overcast,cloudy,0,0,0,

In [12]:
df_weather = df_weather.drop(columns=['rain', 'snow'])

In [13]:
df_weather.head()

       pickup_datetime  tempm  vism  precipm       conds    icon  fog     p
0  2015-12-31 00:15:00    7.8   4.0      0.5  Light Rain    rain    0  rain
1  2015-12-31 00:42:00    7.8   6.4      0.8    Overcast  cloudy    0
2  2015-12-31 00:51:00    7.8   8.0      0.8    Overcast  cloudy    0
3  2015-12-31 01:51:00    7.2  12.9      0.3    Overcast  cloudy    0
4  2015-12-31 02:51:00    7.2  12.9      NaN    Overcast  cloudy    0

In [15]:
df_weather.p.value_counts()

        9272
rain     981
snow     228
Name: p, dtype: int64

In [16]:
df_weather.icon.value_counts()

clear           4582
cloudy          2430
rain             971
partlycloudy     949
mostlycloudy     768
unknown          312
snow             228
hazy             227
sleet             10
fog                4
Name: icon, dtype: int64

In [17]:
df_weather.conds.value_counts()

Clear                  4582
Overcast               2430
Mostly Cloudy           768
Light Rain              677
Partly Cloudy           550
Scattered Clouds        399
Unknown                 312
Haze                    227
Rain                    192
Light Snow              181
Heavy Rain              102
Snow                     39
Light Freezing Rain      10
Heavy Snow                8
Fog                       3
Light Freezing Fog        1
Name: conds, dtype: int64

In [18]:
df_weather.precipm.max()

20.6

In [19]:
df_weather.precipm.describe()

count    1706.000000
mean        1.343728
std         2.295156
min         0.000000
25%         0.000000
50%         0.500000
75%         1.500000
max        20.600000
Name: precipm, dtype: float64

In [20]:
df_weather.head()

       pickup_datetime  tempm  vism  precipm       conds    icon  fog     p
0  2015-12-31 00:15:00    7.8   4.0      0.5  Light Rain    rain    0  rain
1  2015-12-31 00:42:00    7.8   6.4      0.8    Overcast  cloudy    0
2  2015-12-31 00:51:00    7.8   8.0      0.8    Overcast  cloudy    0
3  2015-12-31 01:51:00    7.2  12.9      0.3    Overcast  cloudy    0
4  2015-12-31 02:51:00    7.2  12.9      NaN    Overcast  cloudy    0

In [21]:
df_weather2 = df_weather.drop(columns=['vism', 'icon'])

In [22]:
df_weather2 = df_weather2.drop(columns = 'fog')

In [23]:
df_weather2 = df_weather2.rename(columns={'p':'precip_type'})

In [24]:
df_weather2.head()

       pickup_datetime  tempm  precipm       conds precip_type
0  2015-12-31 00:15:00    7.8      0.5  Light Rain        rain
1  2015-12-31 00:42:00    7.8      0.8    Overcast
2  2015-12-31 00:51:00    7.8      0.8    Overcast
3  2015-12-31 01:51:00    7.2      0.3    Overcast
4  2015-12-31 02:51:00    7.2      NaN    Overcast

In [25]:
df_weather2.pickup_datetime = pd.to_datetime(df_weather2.pickup_datetime, format = '%Y/%m/%d %H:%M:%S')

In [26]:
#create a list of the rows that are not in the year 2016
droplist = []
for i in df_weather2.index:
    if df_weather2.loc[i,'pickup_datetime'].year != 2016:
        droplist.append(i)

In [27]:
#drop the rows not in the year 2016
df_weather2 = df_weather2.drop(droplist)

In [28]:
df_weather2.pickup_datetime = df_weather2['pickup_datetime'].dt.strftime('%Y/%m/%d %H:%M:%S')

In [29]:
#reset the index
df_weather2 = df_weather2.reset_index(drop = True)

In [30]:
df_weather2.head()

       pickup_datetime  tempm  precipm     conds precip_type
0  2016/01/01 00:51:00    5.6      NaN  Overcast
1  2016/01/01 01:51:00    5.0      NaN  Overcast
2  2016/01/01 02:51:00    5.0      NaN  Overcast
3  2016/01/01 03:51:00    5.0      NaN  Overcast
4  2016/01/01 04:51:00    4.4      NaN  Overcast

In [31]:
df_weather2.to_csv('weather_edit.csv', index = False)